#!/usr/bin/env python2
PACKAGE = "vio_ros"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("Kp_pos", double_t, 0, "Proportional gain position", 0.5, 0, 10)
gen.add("Kd_pos", double_t, 0, "Derivative gain position",   0.6, 0, 10)
gen.add("Kp_yaw", double_t, 0, "Proportional gain yaw",      0.5, 0, 10)

exit(gen.generate(PACKAGE, "vio_ros", "controller"))
