<launch>

  <include file="$(find duo3d_ros)/launch/duo.launch" />

  <node name="vio_ros_node" pkg="vio_ros" type="vio_ros_node" output="screen" >
    <remap from="/imu" to="/duo3d_camera/cam_imu"/>
    <remap from="/left_image" to="/duo3d_camera/left/image_raw"/>
    <remap from="/right_image" to="/duo3d_camera/right/image_raw"/>

    <param name="process_noise_1" type="double" value="1000" />
    <param name="process_noise_2" type="double" value="1" />
    <param name="process_noise_3" type="double" value="0.0" />

    <param name="im_noise_1" type="double" value="5" />
    <param name="im_noise_2" type="double" value="5" />
    <param name="im_noise_3" type="double" value="5" />
    <param name="im_noise_4" type="double" value="5" />

	<!-- note that these parameters are not free. The total number of points num_anchors*num_points_per_anchor must equal the total number of points with wich SLAM was codered in Matlab. -->
    <param name="num_points_per_anchor" type="int" value="4" />
    <param name="num_anchors" type="int" value="4" />

    <param name="show_tracker_images" type="bool" value="1" />

  </node>
</launch>
