<launch>

  <!-- camera settings -->
  <arg name="exposure_duo" default="100" />
  <arg name="gain_duo" default="100" />
  <arg name="FPS_duo" default="100" />
  <arg name="resolution_width_duo" default="320" />
  <arg name="resolution_height_duo" default="240" />
  <arg name="lense_type" default="FS3028B13M8" />
  <arg name="vision_subsample" default="2" />

  <!-- noise parameters -->
  <arg name="image_noise" default="1" />
  <arg name="acc_noise" default="100" />
  <arg name="gyro_noise" default="0.1" />
  <arg name="gyro_bias_noise" default="0.00000" />
  <arg name="acc_bias_noise" default="0.000" />
  <arg name="inv_depth_initial_unc" default="0.001" />
  <arg name="gyro_bias_initial_unc" default="[0.1, 0.1, 0.1]" />
  <arg name="acc_bias_initial_unc" default="[0, 0, 0]" />
  <arg name="imu_smoothing_factor" default="0.8" /> <!-- 1.0 to disable smoothing -->

  <!-- vio parameters -->
  <arg name="fixed_feature" default="0" />
  <arg name="max_ekf_iterations" default="3" />
  <arg name="delayed_initiazation" default="0" />
  <arg name="mono" default="0" />
  <arg name="RANSAC" default="1" />
  <arg name="full_stereo" default="0" />

  <arg name="show_camera_image" default="1" />
  <arg name="visualization_freq" default="30" />
  <arg name="image_visualization_delay" default="1" />

  <node name="vio_ros" pkg="vio_ros" type="vio_ros_node" output="screen">
    <!-- noise parameters -->
    <param name="noise_acc" type="double" value="$(arg acc_noise)" />
    <param name="noise_acc_bias" type="double" value="$(arg acc_bias_noise)" />
    <param name="noise_gyro" type="double" value="$(arg gyro_noise)" />
    <param name="noise_gyro_bias" type="double" value="$(arg gyro_bias_noise)" />
    <param name="noise_image" type="double" value="$(arg image_noise)" />
    <param name="noise_inv_depth_initial_unc" type="double" value="$(arg inv_depth_initial_unc)" />
    <rosparam param="noise_gyro_bias_initial_unc" subst_value="True">$(arg gyro_bias_initial_unc) </rosparam>
    <rosparam param="noise_acc_bias_initial_unc" subst_value="True">$(arg acc_bias_initial_unc) </rosparam>
    <param name="imu_smoothing_factor" type="double" value="$(arg imu_smoothing_factor)" />

    <!-- vio parameters -->
    <param name="vio_fixed_feature" type="bool" value="$(arg fixed_feature)" />
    <param name="vio_max_ekf_iterations" type="int" value="$(arg max_ekf_iterations)" />
    <param name="vio_delayed_initiazation" type="bool" value="$(arg delayed_initiazation)" />
    <param name="vio_mono" type="bool" value="$(arg mono)" />
    <param name="vio_RANSAC" type="bool" value="$(arg RANSAC)" />
    <param name="vio_full_stereo" type="bool" value="$(arg full_stereo)" />

    <!-- camera settings -->
    <param name="cam_FPS_duo" type="double" value="$(arg FPS_duo)" />
    <param name="cam_lense_type" type="string" value="$(arg lense_type)" />
    <param name="cam_resolution_width" type="int" value="$(arg resolution_width_duo)" />
    <param name="cam_resolution_height" type="int" value="$(arg resolution_height_duo)" />
    <param name="cam_vision_subsample" type="int" value="$(arg vision_subsample)" />

    <!-- other parameters -->
    <param name="show_camera_image" type="bool" value="$(arg show_camera_image)" />
    <param name="visualization_freq" type="double" value="$(arg visualization_freq)" />
    <param name="image_visualization_delay" type="double" value="$(arg image_visualization_delay)" />

  </node>

  <node name="reset_vio_power_btn" pkg="vio_ros" type="reset_vio_power_btn.py" />

</launch>
